
<h1 style="color: 4d4d56; font-family: sans-serif"><span style="color: #00b5ec ">//</span> <span style="color: #4d4d56">Student Info</span></h1>
<img src="<%= @student.img_url%>" style="width: 100px">
<h2><%= @student.name %></h2>

<% @student.teachers.each do |teacher| %>
    <h3> <%= teacher.subject %> </h3>
<% end %>

<div style="padding: 5px">
    <a href="/students">Back To Main Page</a>
</div>

<div style="padding: 5px">
    <a href="/students/<%= @student.id%>/edit">Edit Name</a>
</div>

<div style="padding: 5px">
    <form action="/students/<%= @student.id %>" method= "POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Dropout of Flatiron">
    </form>
</div>

<div style="padding: 5px">
    <a href="/cohorts/new">Add Cohort</a>
</div>
